# --- DATABASE CONFIGURATION ---
DB_CONNECTION=postgresql
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=root
DB_PASSWORD=rootpassword
DB_NAME=humanized_bot

# Prisma Connection String (Tetap dibutuhkan oleh Prisma CLI)
DATABASE_URL="postgresql://username:password@localhost:5432/database_name?schema=public"

# --- AUTH CONFIGURATION ---
JWT_SECRET=""
JWT_EXPIRES_IN="7d"

# --- EXTERNAL VENDORS ---
WA_API_KEY=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
FRONTEND_URL="http://localhost:3000"
